<div class="row">
  <div class="container">
    <div class="span12">
      <div id='poker'>
<div class='row'>
<div class='span12 page-header'>
<h1>Poker Cards</h1>
<p><a href="/poker">Refresh this page to deal a new hand.</a></p>
</div>
</div>

<hr>

<div class='row'>
<div class='span12 hand'>
	<h1> 
	<%= @hand[0] %><br><br>
	<%= @hand[1] %><br><br>
	<%= @hand[2] %><br><br>
	<%= @hand[3] %><br><br>
	<%= @hand[4] %><br><br>
	</h1>
</div>
</div>
</div>

    </div>
  </div>
</div>