<h1>Rock, Paper, Scissors</h1>

<hr>

<h2><%= @ai[:statement] %></h2>
<img alt="<%= @choose %>" src=<%= @assets[@choose] %> height="280">
<img alt="<%= @ai[:ai] %>" src=<%= @assets[@ai[:ai]] %> height="280">

<p><a href="/rps">Play again</a></p>
