<h1>Movies</h1>

<%= flash[:info] %>

<%#= link_to "Add a New Movie", "/movies/new" %>
<a href="http://localhost:3000/movies/new">Add a New Movie</a>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_url(movie.id) %></td>
        <td><%= movie.director %></td>
        <td><%= movie.year %></td>
        <td><%= link_to "Delete", movie_url(movie.id), :method => "delete",
                :confirm => "Whoa dude! Really?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
